@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #1a1a1a;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

#cartao{
    width: 992px;
    background-color: #2d2d2d;
    backdrop-filter: blur(20px);
    border: 1px solid gray;
    border-radius: 8px;
}

#cartao #logo{
    display: flex;
    justify-content: center;
    height: 100vh;
}

#logo a{
    height: 180px;
    border-radius: 50%;
    margin-top: 20px;
}

a img{
    border-radius: 50%;
    height: 180px;
}

.title{
    margin-top: -420px;
    display: flex;
    justify-content: center;
}

.title h1{
    color: white;
    font-size: 30px;
    font-weight: bolder;
}

#menu{
    width: 720px;
    margin: 0 auto;
    height: 55vh;
}

ul{
    list-style-type: none;
}

#menu li{
    display: flex;
    justify-content: center;
    width: 460px;
    border-radius: 18px;
    background-color: rgb(0, 0, 255);
    margin: 40px auto;
    transition: all 0.3s ease;
}

#menu li:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

#menu a{
    width: 100%;
    padding: 20px;
    border-radius: 18px;
    text-align: center;
    color: #ffff;
    font-weight: 600;
    text-decoration: none;
}